@import './styles/chess.css';
@import './styles/navbar.css';
@import './styles/joinRoomForm.css';
@import './styles/room.css';
@import './styles/chessGame.css';
@import './styles/alert.css';


body {
    margin: 0;
    color: white;
    --navbg: rgb(31, 100, 250);
    --bodybg: #002a4a;
    --font: 'Gill Sans', Calibri, sans-serif;
    background: var(--bodybg);
}
